<app-header></app-header>
<div>Включить двухфакторную аутентификацию</div>
<label><input type = "radio" value="да" name="2FA"> Да </label>
<label><input type = "radio" value="нет" name="2FA"> Нет </label>
<div>Последняя активность</div>
<ul>
  <li>Комп влада</li>
</ul>
<div id="button-form" style="margin-left: 80px">
  <div style="margin-top: 30px; margin-left: 40px">
    <a><button  type="button" class="btn btn-info but btn-lg">Подтвердить</button></a>
  </div>
  <br/>
  <div style="margin-top: 15px; margin-left: 25px">
    <a>Пропустить</a>
  </div>
</div>
