<app-header></app-header>
<h4 style="margin-left: 50px">Настройки пользователя</h4>
<div style="margin-top: 100px">
  <hr/>
  <a (click)="go_to_profile_settings()"><button type="button" class="btn set-but btn-success" >Настройки профиля</button></a>
  <hr/>
  <a (click)="go_to_profile_confident()"><button type="button" class="btn set-but btn-success" >Конфиденциальность</button></a>
  <hr/>
  <a (click)="go_to_profile_security()"><button type="button" class="btn set-but btn-success" >Безопасность</button></a>
  <hr/>
</div>
