<app-header></app-header>
<div style="position: center; margin-left: 40px">
  <div>
    <p>вы были успешно зарегестрированы! </p>
  </div>
  <div style="margin-top: 100px">
    <h6>Вы хотите настроить ваш профиль сейчас?
      (в противном случае настройки будут установлены по умолчанию)</h6>
     <div id="button-form" style="margin-left: 80px">
       <div style="margin-top: 30px; margin-left: 40px">
          <a (click)="next()"><button  type="button" class="btn btn-info but btn-lg">Да</button></a>
       </div>
      <br/>
      <div style="margin-top: 15px; margin-left: 25px">
        <a (click)="skip_settings()">Пропустить</a>
      </div>
    </div>
  </div>
</div>
