<ul id="navbar">
  <li><a (click)="go_to_tape()"><img  class="navbar-icon" src="https://se.ifmo.ru/~s263069/Isbd/tape-icon.png" alt="???"></a></li>
  <li><a (click)="go_to_search()"><img  class="navbar-icon" src="https://se.ifmo.ru/~s263069/Isbd/search-icon.png" alt="???"></a></li>
  <li><a (click)="go_to_profile()"><img  class="navbar-icon" src="https://se.ifmo.ru/~s263069/Isbd/profile-icon.png" alt="???"></a></li>
  <li><a (click)="go_to_profile_settings()"><img  class="navbar-icon" src="https://se.ifmo.ru/~s263069/Isbd/settings-icon.png" alt="???"></a></li>
</ul>

