#header-logo{
  width: 180px;
  height: 70px;
  margin-left: 10px;
  margin-top: 10px;

}
div{
  background: white;
}

#settings-icon{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  margin-left: 120px;
}
