<div style="background: black; width: 375px; height: 734px">

  <app-header></app-header>
  <div>
    <div>
      <button (click)="back()" style="background-color: green; margin-left: 20px">
        Назад!
      </button>
      <button #skipVideo (click)="next()" style="background-color: red; margin-left: 190px;">
        Вперед!
      </button>
    </div>
    <div id="statistics">
      <img  (click)="shareVideo()" style="width: 40px; height: 40px" src = "https://se.ifmo.ru/~s263069/Isbd/share-icon.png">
      <a (click)="goToComments()"><img style="margin-top: 30px; width: 40px; height: 40px" src = "https://se.ifmo.ru/~s263069/Isbd/comment-icon.png"></a>
      <img style="margin-top: 30px; width: 40px; height: 40px" src = "https://se.ifmo.ru/~s263069/Isbd/like-icon.png">
    </div>
    <img #pause  (click)="playOrStopVideo()" id = "pl" style="width: 150px; height: 150px" src = "https://se.ifmo.ru/~s263069/Isbd/play-icon.png">
    <video (click)="playOrStopVideo()" id="video" style="width:375px; height: 450px;" #videoElement loop>
      <source src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"'>
      <source #video src="" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    <div id="audio">
      <a (click)="goToMusic()"><img style="border: 1px solid black;border-radius: 70px; width: 70px; height: 70px" src = "https://se.ifmo.ru/~s263069/Isbd/music-icon.png"></a>
    </div>
    <div>
<!--      <p style="margin-left: 27px">@{{this.user.profile_settings.username}}</p>-->
      <p style="color: white; margin-left: 10px">отличное видео для всей семьи</p>
      <p style="color: white; margin-left: 10px; margin-bottom: 5px">#камапуля, #хасик, #КлубникаБомбаЧестноГоворя</p>
    </div>
  </div>
<app-navbar></app-navbar>
</div>
