<div style="background: black; width: 375px; height: 734px">

  <app-header></app-header>
  <div>
    <div id="buttons">
      <button (click)="back()" style="background-color: green; margin-left: 20px">
        Назад!
      </button>
      <button #skipVideo (click)="next()" style="background-color: red; margin-left: 190px;">
        Вперед!
      </button>
    </div>
    <div id="statistics">
      <img  (click)="shareVideo()" style="width: 40px; height: 40px; background-color: white;border: 1px solid black;border-radius: 40px;" src = "https://se.ifmo.ru/~s263069/Isbd/share-icon.png">
      <a (click)="goToComments()"><img style="margin-top: 30px; width: 40px; height: 40px" src = "https://se.ifmo.ru/~s263069/Isbd/comment-icon.png"></a>
      <img (click)="likeVideo()" style="margin-top: 30px; width: 40px; height: 40px" src = "https://se.ifmo.ru/~s263069/Isbd/like-icon.png">
      <div  style="color: white"><p #likes></p></div>
    </div>
    <img #pause  (click)="playOrStopVideo()" id = "pl" style="width: 150px; height: 150px" src = "https://se.ifmo.ru/~s263069/Isbd/play-icon.png">
    <video (click)="playOrStopVideo()" id="video" style="width:375px; height: 450px;" #videoElement loop>
      <source #video src="" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    <div id="audio">
      <a (click)="goToMusic()"><img style="border: 1px solid black;border-radius: 70px; width: 70px; height: 70px" src = "https://se.ifmo.ru/~s263069/Isbd/music-icon.png"></a>
    </div>
    <div id="link" #link>
      <img (click)="hide()" style="width: 20px; height: 20px; margin-left: 335px" src = "https://se.ifmo.ru/~s263069/Isbd/exit.png">
<!--      <p style="text-align: center"><a href="{{'http://localhost:8000' + this.current_video.url}}">{{'http://localhost:8000' + this.current_video.url}}</a></p>-->
    </div>
    <small style="color: red; margin-left: 10px; z-index: 2" #hashtags></small>
    <div style="margin-bottom: 20px;">
    <p style="margin-left: 27px; color: red" id="owner_username" (click)="goToUserProfile()" #owner_username>@</p>
      <p style="color: white; margin-left: 10px" id="description" #description> </p>
    </div>
  </div>
<app-navbar></app-navbar>
</div>
