<app-header></app-header>
<div id="list-comments">
  <div class="comment">
    <h6>@Lil_krystall</h6>
    <p class="comment-description">РНБ ВНАТУРЕ ЙОУ!</p>
    <div class="comment-info">
      <p>24.07.2020</p>
      <div style="height: 24px; width: 45px"><img style="width: 20px; height: 20px; float: left; margin-right: 5px" sclass="comment-like-icon" src="https://se.ifmo.ru/~s263069/Isbd/like-icon.png"><div>5</div></div>
    </div>
  </div>
  <br/>
  <div class="comment">
    <h6>@Lil_krystall</h6>
     <p class="comment-description">РНБ ВНАТУРЕ ЙОУ!</p>
    <div class="comment-info">
      <p>24.07.2020</p>
      <img src="https://se.ifmo.ru/~s263069/Isbd/like-icon.png" class="comment-like-icon">
    </div>
  </div>
  <br/>
  <div class="comment">
    <h6>@Lil_krystall</h6>
     <p class="comment-description">РНБ ВНАТУРЕ ЙОУ!</p>
    <div class="comment-info">
      <p>24.07.2020</p>
      <img src="https://se.ifmo.ru/~s263069/Isbd/like-icon.png" class="comment-like-icon">
    </div>
  </div>
  <br/>
  <div class="comment">
    <h6>@Lil_krystall</h6>
     <p class="comment-description">РНБ ВНАТУРЕ ЙОУ!</p>
    <div class="comment-info">
      <p>24.07.2020</p>
      <img src="https://se.ifmo.ru/~s263069/Isbd/like-icon.png" class="comment-like-icon">
    </div>
  </div>
  <br/>
  <div class="comment">
    <h6>@Lil_krystall</h6>
     <p class="comment-description">РНБ ВНАТУРЕ ЙОУ!</p>
    <div class="comment-info">
      <p>24.07.2020</p>
      <img src="https://se.ifmo.ru/~s263069/Isbd/like-icon.png" class="comment-like-icon">
    </div>
  </div>
</div>
<div id="send-comment">
  <input type="textarea" placeholder="Комментарий..." style="width: 340px; height: 50px">
  <button class="btn btn-primary"><small>Отправить</small></button>
</div>
<app-navbar></app-navbar>
