<app-header></app-header>
<div>Приватный аккаунт</div>
<label><input type = "radio" value="да" name="private"> Да </label>
<label><input type = "radio" value="нет" name="private"> Нет </label>
<div>Разрешить другим пользователям скачивать ваши видео</div>
<label><input type = "radio" value="да" name="downloadVideo"> Да </label>
<label><input type = "radio" value="нет" name="downloadVideo"> Нет </label>
<div>Включить фильтр коментариев</div>
<label><input type = "radio" value="да" name="CommentFilter"> Да </label>
<label><input type = "radio" value="нет" name="CommentFilter"> Нет </label>
<div>Кто может отправлять вам приватные сообщения</div>
<label><input type = "radio" value="Все" name="PrivateMess"> Все </label>
<label><input type = "radio" value="Друзья" name="PrivateMess"> Друзья </label>
<label><input type = "radio" value="Никто" name="PrivateMess"> Никто </label>
<div>Кто видит понравившиеся вам видео</div>
<label><input type = "radio" value="Все" name="LikeList"> Все </label>
<label><input type = "radio" value="Только я" name="LikeList"> Только я </label>
<div id="button-form" style="margin-left: 80px">
  <div style="margin-top: 30px; margin-left: 40px">
    <a (click)="next()"><button  type="button" class="btn btn-info but btn-lg">Подтвердить</button></a>
  </div>
  <br/>
  <div style="margin-top: 15px; margin-left: 25px">
    <a>Пропустить</a>
  </div>
</div>
