<app-header></app-header>
<div style="margin-left: 15%">
  <label for="private-account">Приватный аккаунт</label>
  <div id="private-account">
    <label><input type = "radio" [(ngModel)]="this.private_account" value="true" name="private" > Да </label>
    <label><input type = "radio" [(ngModel)]="this.private_account" value="false" name="private" class="right-rb"> Нет </label>
  </div>
  <label for="allow-downloaded">Разрешить другим пользователям скачивать ваши видео</label>
  <div id="allow-downloaded">
    <label><input type = "radio" [(ngModel)]="this.allow_download_video" value="true" name="downloadVideo"> Да </label>
    <label><input type = "radio" [(ngModel)]="this.allow_download_video" value="false" name="downloadVideo" class="right-rb"> Нет </label>
  </div>
  <label for="comment-filter">Включить фильтр коментариев</label>
  <div id="comment-filter">
    <label><input type = "radio" [(ngModel)]="this.comments_filter" value="true" name="CommentFilter"> Да </label>
    <label><input type = "radio" [(ngModel)]="this.comments_filter" value="false" name="CommentFilter" class="right-rb"> Нет </label>
  </div>
  <label for="allow-private-messages">Кто может отправлять вам приватные сообщения</label>
  <div id="allow-private-messages">
    <label><input type = "radio" [(ngModel)]="this.allow_private_messages" value="all" name="PrivateMess"> Все </label>
    <label><input type = "radio" [(ngModel)]="this.allow_private_messages" value="friends" name="PrivateMess" style="margin-left: 50px"> Друзья </label>
    <label><input type = "radio" [(ngModel)]="this.allow_private_messages" value="nobody" name="PrivateMess" style="margin-left: 50px"> Никто </label>
  </div>
  <label for="allow-likes-list-video">Кто видит понравившиеся вам видео</label>
  <div id="allow-likes-list-video">
    <label><input type = "radio" [(ngModel)]="this.allow_likes_list_looking" value="all" name="LikeList"> Все </label>
    <label><input type = "radio" [(ngModel)]="this.allow_likes_list_looking" value="me" name="LikeList" class="right-rb"> Только я </label>
  </div>
</div>
<div *ngIf="first_routing" id="button-form" style="margin-left: 80px">
  <div style="margin-top: 30px; margin-left: 30px">
    <a (click)="next()"><button  type="button" class="btn btn-info but btn-lg">Подтвердить</button></a>
  </div>
  <br/>
  <div style="margin-top: 15px; margin-left: 60px">
    <a (click)="skip_confident_settings()">Пропустить</a>
  </div>
</div>
