

#logo{
  margin-top: 40px;
  margin-left: 80px;
  width: 250px;
  height: 250px;
}

#text-logo{
  margin-left: 90px;
  margin-top: 40px;
  width: 200px;
}

#button-form{
  margin-top: 80px;
  margin-left: 110px;
  width: 200px;
  height: 100px;

}

.but{
  margin-top: 20px;
  width: 150px;
}


