<app-header></app-header>
<div>
  <div id = "avatar" style="margin-right: auto; margin-left: auto; width: 150px">
    <img style="border-radius: 100px; width: 150px; height: 150px" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
    <p style="margin-left: 27px">@Платина</p>
  </div>

  <div id = "info" style="height: 100px">
    <div style="float: left; margin-right: auto; margin-left: auto; width: 88px">
      <label>Подписки</label>
      <div id = "subscriptions">3</div>
    </div>
    <div style="float: left; margin-right: auto; margin-left: auto; width: 88px">
      <label>Подписчики</label>
      <div id = "subscribers">1</div>
    </div>
    <div style="margin-right: auto; margin-left: auto; width: 88px">
      <label>Лайки</label>
      <div id = "like">0</div>
    </div>
  </div>
</div>


