#auido-info{
  width: 375px;
  height: 150px;
  border: 2px solid black;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#content {
  column-count: 3;
  column-gap: 0;
}
.video-preview {
  border: 1px solid blue;
  width: 118px;
  height: 118px
}
.layout_panel {
  break-inside: auto;
  padding: 2px;

}
.layout_content {
  padding: 1px;
  border-radius: 10px;
}

