<app-header></app-header>
<div id="auido-info">
  <div id="audio-description">
    <h4 id="author" #author>Платина</h4>
    <p id="audio-name" #audioname>Иней</p>
  </div>
</div>
<div style="height: 370px; overflow: scroll; background: white; margin-top: 15px">
  <div id="content">
    <div *ngFor="let video of videos"  class="layout_panel">
      <div class="layout_content">
        <video  id="video" (click)="goToVideoInTape(video.url)" class="video-preview" #videoElement loop>
          <source #videolol  src="{{video.url}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
