<app-header></app-header>
<div id="auido-info">
  <img src="https://se.ifmo.ru/~s263069/Isbd/ava.jpg" width="110px" height="110px" style="border: 1px solid black">
  <div id="audio-description">
    <h4>Платина</h4>
    <p>Иней</p>
  </div>
</div>
<div style="height: 370px; overflow: scroll; background: white; margin-top: 15px">
  <div id="content">
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
    <div class="layout_panel">
      <div class="layout_content">
        <img class="video-preview" src = "https://se.ifmo.ru/~s263069/Isbd/ava.jpg">
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
